<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TimePocket - Profile</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body class="font-mono flex flex-col" style="background: var(--bg-page); color: var(--dark); transition: background 0.3s, color 0.3s">
        <!-- NAV BAR-->
         <div class="flex justify-between flex-row p-4 items-center">
            <!--
            - Logo
            - Pages (Dashboard, My Timetable, Groups)
            - Profile and darkmode switch
            -->
            <div id="logo" class="flex flex-row justify-center items-center gap-2">
                <div class="w-9 h-9 rounded-full border-2 border-ui"></div>
                <span class="text-ui font-semibold">Logo</span>
            </div>

            <div id="nav-bar" class="flex flex-row justify-evenly gap-16 items-center">
                <div id="dash-link">
                    Dashboard
                </div>
                <div id="personal-timetable-link">
                    My Timetable
                </div>
                <div id="groups-link">
                    Groups
                </div>
            </div>

            <div id="profile-container" class="flex flex-row justify-end gap-4 items-center">
                <div id="dark-toggle">

                </div>
                <div id="profile-link" onclick="">
                    Profile
                </div>
            </div>
         </div>

        <!-- DASHBOARD INFO -->
         <div>

         </div>
    </body>

    <script>
        const root = document.documentElement;

        function openPage(pageRequested) {

        }

        document.getElementById("dash-link").addEventListener("click", openPage("dashboard"));
        document.getElementById("personal-timetable-link").addEventListener("click", openPage("personal"));
        document.getElementById("groups-link").addEventListener("click", openPage("groups"));
        document.getElementById("profile-link").addEventListener("click", openPage("profile"));

    </script>
</html>