<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TimePocket - Profile</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <!-- NAV BAR -->
        <div>
            
        </div>

        <!-- SETTINGS WINDOW -->
         <div>
            
         </div>

    </body>

</html>